.pizza-section {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -15%;
    width: 100%;
    height: 100%;

    .toppings {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;

        .topping {
            position: absolute;
            opacity: 1;
            transition: opacity .5s linear;
        }

        .dragging {
            opacity: 0;
        }

        .olives {
            left: 8vw;
            top: 33%;
        }

        .cheese {
            left: 13.5vw;
            top: 13.5%;
        }

        .pepper {
            left: 23vw;
            top: -.7vw;
        }

        .pepperoni {
            left: 36vw;
            top: -5.5vw;
        }

        .bacon {
            right: 32vw;
            top: -5vw;
        }

        .chicken {
            right: 20.5vw;
            top: 0vw;
        }

        .beef {
            right: 12.5vw;
            top: 14.4%;
        }

        .sausage {
            right: 7.5vw;
            top: 33.5%;
        }
    }

    .pizza-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 70vw;
        height: 80vh;
        top: unset;

        .toppings-title {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            background: url("../../assets/images/ingr.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 25%;
            justify-content: center;
        }

        .dough-container {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 85%;
            height: 100%;
            top: 17%;
            background: url("https://res.cloudinary.com/dmwfd0zhh/image/upload/v1600272238/Santorinis/Group_10_odhq7c.svg");
            background-size: cover;
            background-position: 50% 0;
            transform: scale(1);
            transition: transform .4s ease-in;
            z-index: 1;

            .dough-items {
                position: absolute;
                width: 90%;
                height: 100%;

                .item {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    z-index: 1;
                    background-position: 50% 50%;
                }
            }
        }

        .scale-dough {
            transform: scale(1.05);
            transform-origin: center center;
            opacity: .8;
        }
    }
}