@import './breakpoints.scss';
@import './variables.scss';
@import './pages/home.scss';
@import './components/pizza.scss';



.pages {
    max-width: 1600px;
    margin: 0 auto;
}


.no-laptop {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-weight: 500;
}